@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}


html {
  box-sizing: border-box;
  font-size: 100%;
}


body {
  background-color: rgb(122, 122, 209);
  font-family: "Inter";
  color: #ffff;
  max-width: 1280px;
  margin: auto;
}

button {
  background-color: #c2c2e4;
  padding: 0.5rem 1rem;
  margin: 0.3rem;
  border-radius: 5px;
}